/* Stile generale per l'intera pagina */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
}

/* Prima metà della pagina */
.top-half {
    flex: 1;
    
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border-bottom: 5px solid black; /* Linea nera di separazione */
}

/* Seconda metà della pagina */
.bottom-half {
    flex: 0.8;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-left: 15px ;
margin-right: 15px ;
}

/* Stile per il contenitore dei parametri */
#param_comp {
    display: flex;
    margin-top: 10%;
    align-items: center;
    gap: 10px; /* Spazio tra i controlli */
}

#activate_comp {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* Stile per i controlli di input */
input[type="range"] {
    width: 80%;
    margin: 5px 0;
}
  




/*TENDINA*/
/* Stile generale per il contenitore della tendina */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Stile per il pulsante della tendina */
.dropdown-btn {
    background-color: #007bff;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 35%;
    margin-top: 15%;
}

/* Contenuto della tendina, inizialmente nascosto */
.dropdown-content {
    display: none; /* Nascosto di default */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
}

/* Stile per gli elementi all'interno della tendina */
.dropdown-content p {
    margin: 5px 0;
    padding: 8px 10px;
    color: #333;
    cursor: pointer;
}

/* Cambia il colore quando si passa sopra gli elementi della tendina */
.dropdown-content p:hover {
    background-color: #e0e0e0;
}







#uploadContainer {
    text-align: center;
    margin-top: 20px;
}

input[type="file"] {
    margin: 10px 0;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

audio {
    margin-top: 20px;
    width: 300px;
}